<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改操作</title>
</head>
<body>
    <div align="center">
        <h1>修改信息</h1>
        <form method = "post">
            <table>
                <tbody>
                    <tr>
                        <td>姓名<td>
                        <td>
                            <input type="text" name="username" placeholder="用户名" /><br>
                        </td>
                    </tr>
                    <tr>
                        <td>密码<td>
                        <td>
                            <input type="password" name="password" placeholder="密码"/><br>
                        </td>
                    </tr>
                    <tr>
                        <td>学校<td>
                        <td>
                            <input type="text" name="school" placeholder="school"/><br>
                        </td>
                    </tr>
                    <tr>
                        <td>电话<td>
                        <td>
                            <input type="text" name="phone" placeholder="电话"/><br>
                        </td>
                    </tr>
                    <tr>
                        <td>工作<td>
                        <td>
                            <input type="text" name="work" placeholder="工作地点"/><br>
                        </td>
                    </tr>
                    <tr>
                        <td>年龄<td>
                        <td>
                            <input type="text" name="age" placeholder="年龄"/><br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="确定更改"><br>
        </form>
    </div>
</body>
</html>